- title("Users Admin")
%h1
  Users
  %small Admin
%p= link_to "Back to Admin", admin_root_path
.text-center
  %p= page_entries_info @customers
  = paginate @customers
= form_tag admin_customers_path, method: 'get', html: {role: "form"} do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary"
    = link_to "All", admin_customers_path, {class: "btn btn-sm btn-link"}
%table.table.table-striped
  %tr
    %th User ID
    %th Name
    %th Emails
    %th Phone Numbers
  - @customers.each do |customer|
    %tr
      %td= customer.id
      %td= link_to customer.name, admin_customer_path(customer)
      %td= customer.emails.pluck(:address).join(",")
      %td= customer.phones.pluck(:number).join(",")
.text-center
  %p= page_entries_info @customers
  = paginate @customers
